:root {
    --main-font: "Roboto", "sans-serif";
    --secondary-font: "Raleway", "sans-serif";
    --accent-txt-color: #2196F3;
    --dark-txt-cl: #212121;
    --grey-txt-cl: #757575;
    --light-txt-cl: #FFFFFF;
    --title-txt-cl: #000000;
    --bckgrnd-cl: #2F303A;
    --bckgrnd-btn: #188CE8;
    --bckgrnd-icon: #F5F4FA;
    --icon-cl: #afb1b8;

    --items: 3;
    --indent: 30px;
    --anim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}