.benefits__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bckgrnd-icon);    
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;
    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
        
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.benefits__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.benefits__item {
    flex-basis: 270px;
}


    
    

