.benefits__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bckgrnd-icon);    
    border-radius: 4px;
    margin-bottom: 30px;
    height: 120px;
    @media screen and (min-width: 480px) {
        width: 450px;
    }
    
    width: 270px;

}

.benefits {
    padding-bottom: 0;

    // &__list {


    //     display: flex;
    //     gap: 30px;
    // }

    &__item {
        flex-basis: 270px;        
        &:not(:last-child) {
            @media screen and (min-width: 480px) {
                margin-bottom: 30px;
            }
        }
    }
}





